/*Body da página*/
body {
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    overflow-x:hidden;
}

/*--------------------------------------- 
Inicio do header 
---------------------------------------------------*/

/* ----------------------------
inínio do navTopo
--------------------------------- */

.navTopo {
    background: #424242;
    padding: 10px;
}

.navTopo .col-md-5{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navTopo .col-md-5 span{
    display: flex;
    align-items: center;
    padding-top: 1%;
}

.navTopo .col-md-6{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navTopo .col-md-6 span{
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-right: 10%;
}

.navTopo .contato{
    font-size: 14px;
    font-weight: 500;
    color: #FFC12A;
}

.navTopo .endereco{
    font-size: 12px;
    font-weight: 500;
    color: #C0C0C0;
}

.navTopo .col-md-1 ul, ul li, a{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navTopo .col-md-1 ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.navTopo .col-md-1 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    padding: 2px 8px;
    background: #323232;
    border-radius: 50%;
}

.navTopo .col-md-1 ul li a i{
    color: white;
    font-size: 100%;
}

/* -----------------------------
Fim do navTopo
------------------------------- */

/* ----------------------------------
Início do navMenu
--------------------------------- */

.navMenu {
    background: #353535;
    text-align: center;
    padding: 15px;
    z-index: 100;
}

.navMenu .col-md-2 img{
    width: 110% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.navMenu .col-md-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navMenu .col-md-8 .nav-link {
    font-size: 15px;
    font-weight: 600 !important;
    color: white !important;
    padding: 0 10px;
}

.navMenu .btn {
    background: #FFC12A;
    border-radius: 25px;
    color: #353535;
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.navMenu .btn:hover {
    background: black;
    color: white;
}

.navMenu ul li {
    border-bottom: 3px solid #353535;
}
.navMenu ul li:hover{
    color: #FFC12A !important;
    border-bottom: 3px solid #FFC12A;
    background: #353535 !important;
}

.navMenu ul li a:hover{
    color: #FFC12A !important;
}
  
.dropdown {
    background: #353535;
}

/* Início - Dropdown em níveis */
.navMenu .menu, .sub-menu {
    margin: 0;
    padding: 0;
}

.navMenu .clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.navMenu .menu, .sub-menu {
    list-style: none;
}

.navMenu .sub-menu {
    background: #353535;
    padding: 0 !important;
    margin: 5px 0 0 0 !important;
    z-index: 99;
}

.navMenu .sub-menu li{
    padding: 15px 0 !important;
}

.navMenu .menu a {
    text-decoration: none;
    display: block;
}

.navMenu .sub-menu a {
    font-weight: 300;
    font-size: 13px;
}

.navMenu .menu li {
    position: relative;
}

.navMenu .menu > li {
    float: left;
}

.navMenu .menu > li:hover {
    background: #3A3F45;
}

.navMenu .menu li:hover > .sub-menu {
    display: block;
}

.navMenu .sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
}

.navMenu .sub-menu li {
    border-bottom: none !important;
}

.navMenu .sub-menu li:hover {
    background: #3A3F45 !important;
    border-bottom: none !important;
}

.navMenu .sub-menu li a:hover {
    color: white !important;
}

.navMenu .sub-menu .sub-menu {
    top: -5px;
    left: 100%;
    width: 200px;
}

.navMenu .sub-menu i {
    font-size: 40%;
    padding-left: 5px;
}

.navMenu .zoomImg {
    transition: transform 0.3s ease;
    width: 100%;
  }
  
.navMenu .zoomImg:hover {
    transform: scale(1.1);
  }
/* Fim - Dropdown em níveis */
/* ---------------------------------
Fim do navMenu
------------------------------------- */

/* --------------------------
Fim do header
-------------------------------- */

/* -------------------------------
Início do carrosel
------------------------------- */

.carrossel {
    z-index: 1;
}

.carrossel .carousel {
    margin: 0;
}

.carrossel .carousel i {
    font-size: 200%;
    color: #ffffff;
}

.carrossel .carousel .textoCarrossel {
    text-align: left;
    top: 10%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.carrossel .carousel .textoCarrossel p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.carrossel .carousel .textoCarrossel .corTextoSlide {
    color: #FFC12A;
}

.carrossel .carousel .btn {
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 0px;
    text-align: center;
    font-size: 20px !important;
    padding-top: 2%;
    margin-left: 5%;
    width: 80%;
    height: 15%;
}

.carrossel .carousel .btn:hover {
    list-style: none;
}

.carrossel .carousel .carousel-item img {
    transition: transform 30s ease;
  }
  
.carrossel .carousel .carousel-item.active img {
    transform: scale(2.0);
  }

  @keyframes animacaoFadeInUpBig {
    0% {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInUpBig {
    animation-name: animacaoFadeInUpBig;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;
  }

/* -----------------------------
Fim do Carrosel
------------------------------------ */

/* -------------------------
Início do secaoDesde
------------------------- */

.secaoDesde {
    background: #FFC12A;
    text-align: center;
    margin: 0;
    padding: 45px 0 45px 0;
}

.secaoDesde h2 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
}

.secaoDesde h3 {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

/* --------------------
Fim do secaoDesde
--------------------------------- */

/* -------------------
Início da secaoSobre
--------------------------- */

.secaoSobre {
    padding: 50px 0;
}

.secaoSobre h2 {
    font-size: 32px;
    font-weight: 600;
    color: #FFC12A;
    padding-bottom: 15px;
}

.secaoSobre p {
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7A;
    line-height: 1.5;
}

.secaoSobre img {
    border-radius: 50px 0;
}

/* -----------------------
Fim da secaoSobre
----------------------------- */

/* ------------------------
Início da secaoInformacao
---------------------------- */

.secaoInformacao {
    background: #333333;
    padding: 50px;
    display: flex;
    align-items: center;
}

.secaoInformacao .col-md-4 {
    text-align: center;
    padding-top: 1%;
}

.secaoInformacao img {
    padding-bottom: 20px !important;
}

.secaoInformacao img {
    transition: transform 0.3s ease;
    width: 45%;
  }
  
.secaoInformacao img:hover {
    transform: scale(1.1);
  }
.secaoInformacao .container .col-md-4:nth-child(2) img {
    width: 22%;
}

.secaoInformacao span {
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
}

.secaoInformacao h2 {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
}

/* ------------------------
Fim da secaoInformacao
---------------------------- */

/* ---------------------
Início da secaoProduto
---------------------- */

.secaoProduto {
    padding: 25px;
}

/* ----------------------
Fim da secaoProduto
------------------------- */

/* ------------------
Início da secaoContato
--------------------- */

.secaoContato {
    background: #F6BB29;
    padding: 50px;
}

.secaoContato h2 {
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
}

.secaoContato p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.secaoContato h3 {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.secaoContato span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.secaoContato i {
    color: #202020;
    padding-right: 10px;
    font-size: 90%;
}

.secaoContato ul {
    text-decoration: none;
    list-style: none;
    padding: 25px 0 0 0;
    margin: 0;
}

.secaoContato ul li {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #202020 !important;
    padding: 0;
}

.secaoContato .bordaForm input, select, button {
    border-radius: 20px !important;
}

.secaoContato .col-md-6:nth-child(2) h2 {
    font-size: 20px !important;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.secaoContato .mb-3:nth-child(6) input {
    padding-bottom: 70px;
}

.secaoContato .btn {
    background: #353535;
    color: white;
    width: 100%;
}

.secaoContato .erro-mensagem {
    color: red;
    padding-left: 15px;
}
/* ----------------------
Fim da secaoContato
----------------------------- */

/* -------------------------
Início do footer
-------------------------- */

/* ------------------------
Início do rodapeSuperior 
----------------------------*/

.rodapeSuperior {
    background: #2F2F2F;
    padding: 70px;
}

.rodapeSuperior .col:nth-child(1) {
    display: flex;
    align-items: center;
}

.rodapeSuperior img {
    width: 70%;
    display: flex;
    align-items: center;
}

.rodapeSuperior h2 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.rodapeSuperior ul, ul li, ul li a{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.8;
}

.rodapeSuperior .col li:hover {
    color: #FFC12A !important;
}

/* --------------------------------
Fim do rodapeSuperior 
-------------------------------------*/

/* ----------------------------
Início do rodapeInferior
----------------------------------- */

.rodapeInferior {
    background: #161616;
    text-align: center;
    padding: 6px;
}

.rodapeInferior span {
    font-size: 12px;
    color: #868686;
}

/* --------------------------------
Fim do rodapeInferior
--------------------------------------- */

/* ------------------------
Fim do footer
----------------------------- */

/* --------------------------
Responsivo
----------------------------- */

@media (max-width: 575.98px) {
    /* ------------------------
    Body
    ------------------------ */
    
    /* ----------------
    navMenu
    -------------------- */

    .navResponsive {
        padding: 15px 5px;
        background: #313131;
        margin: 0;
        width: 100%;
        z-index: 100;
    }

    .dropdown {
        z-index: 95;
    }
    
    .navResponsive .navbar-toggler:focus {
        box-shadow: none
    }
    
    .navResponsive .navbar-toggler {
        background: #2F2F2F;
        border: none;
    }
    
    .navResponsive .navbar-toggler:focus {
        box-shadow: none;
        background: #2F2F2F;
    }
    
    .navResponsive .navbar-toggler i {
        color: white;
        font-size: 200%;
    }

    .navResponsive ul li a {
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding-left: 20px;
        margin: 0;
    }

    .navResponsive ul li a:hover {
        color: white;
    }

    /* Drpdown com submenus */

    .meu-dropdown {
        position: relative;
        display: inline-block;
    }

    .meu-dropdown i {
        font-size: 50%;
        padding: 0% -10% 20% 0%;
        margin-left: 10px;
    }
      
    .meu-dropdown-btn {
        background-color: #313131;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 8px 20px;
        border: none;
        cursor: pointer;
    }
      
    .meu-dropdown-content {
        display: none;
        position: absolute;
        background-color: #313131;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 230%;
    }
      
    .meu-dropdown-content a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
      
    .meu-dropdown .meu-dropdown-content {
        left: 0%;
        top: 100%;
      
    }
      
    .meu-dropdown:hover .meu-dropdown-content {
        display: block;
    }



    /* ------------
    Carrossel
    -------------------*/

    .carrosselResponsivo {
        z-index: 90;
        padding: 94px 0 0 0;
    }

    .carrosselResponsivo img {
        width: 100% !important;
    }

    .carrosselResponsivo {
    z-index: 1;
    }

    .carrosselResponsivo .carousel {
        margin: 0;
    }

    .carrosselResponsivo .carousel i {
        font-size: 200%;
        color: #ffffff;
    }

    .carrosselResponsivo .carousel .textoCarrossel {
        text-align: left;
        top: 30%;
        transform: translateY(-50%);
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        margin: 0 !important;
        padding: 0 !important;
    }

    .carrosselResponsivo .carousel .textoCarrossel p {
        margin-bottom: 0px;
        margin-top: 0px;
        text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    }

    .carrosselResponsivo .carousel .textoCarrossel .corTextoSlide {
        color: #ffba00;
    }

    .carrosselResponsivo .carousel .btn {
        display:inline-flex;
        align-items: center;
        text-align: center;
        color: white;
        border: 2px solid white;
        border-radius: 40px;
        margin-top: 0px;
        font-size: 15px !important;
        padding-left: 9%;
        margin-left: 5%;
        width: 40%;
        height: 14%;
        top: 100% !important;
        transform: translateY(-50%);
    }

    .carrosselResponsivo .carousel .btn:hover {
        list-style: none;
    }

    .carrosselResponsivo .carousel .carousel-item img {
        transition: transform 30s ease;
      }
      
    .carrosselResponsivo .carousel .carousel-item.active img {
        transform: scale(2.0);
      }

        /* --------------
        secaoDesde
        ------------------ */

    .secaoDesde h2{
        font-size: 22px !important;
    }

    .secaoDesde h3{
        font-size: 18px !important;
    }

    /* --------------
    secaoSobre
    --------------- */

    .secaoSobre {
        padding: 25px;
    }

    /* -------------
    secaoInformacao
    ----------------------- */

    .secaoInformacao .col-md-4:nth-child(2), .col-md-4:nth-child(3) {
        padding-top: 30px;
    }

    /* -----------
    secaoProduto
    --------------------- */

    .secaoProduto .col-md-6:nth-child(2) {
        padding-top: 15px;
    }

    .secaoProduto .col-md-6 img{
        border-radius: 5px;
    }

    /* --------------
    secaoContato
    ------------------ */

    .secaoContato .col-md-6:nth-child(2) h2 {
        padding-top: 25px;
    }

    /* -------------
    footer
    ------------------ */

    .rodapeSuperior {
        padding-left: 15%;
    }

    .rodapeSuperior img {
        padding-bottom: 20px;
        width: 100%;
    }

    .rodapeSuperior h2 {
        padding: 15px 0 5px 0;
    }


    .rodape .rodapeInferior {
        line-height: 18px;
    }



    
}